imgur/imgur.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
xmlns="http://wadl.dev.java.net/2009/02" xmlns:t="urn:github:githubresponse"
xmlns:webshell="http://webshell.io/wadl/2012/06/"
xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd http://webshell.io/wadl/2012/06/ http://webshell.io/wadl/webshell-extensions.xsd">
<resources base="https://imgur-apiv3.p.mashape.com">
<resource path="/3/account/{username}">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="account" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Request standard user information.</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/albums/count">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountAlbumCount" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>The number of albums an account contains</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/album/{id}">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountAlbumDeletion" name="DELETE">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Delete an account album</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/albums/ids">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountAlbumIds" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Get all of the ids for all of the albums associated with the account</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/album/{id}">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountAlbumInformation" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Get More information about a specific album</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/albums">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountAlbums" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Get all the albums associated with the account. Must be logged in as the user to see secret and hidden albums.</doc>
<request>
<param name="page" required="false" type="number" style="query">
<doc>
Allows you to set the page number so you don't have to retrieve all the data at once.</doc>
</param>
</request>
</method>
</resource>
<resource path="/3/account/{username}/comment/{id}">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountCommentDeletion" name="DELETE">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Delete a comment. You are required to be logged in as the user whom created the comment.</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/comments">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountComments" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>The comments that the user has made</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}">
<param name="username" required="true" type="string" style="query">
<doc>
Username of the account</doc>
</param>
<method id="accountCreation" name="POST">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>You must send recaptcha information with this request. Use this as the public captcha key: 6Lf7R8USAAAAAIkTcbhc8Di49orfHUuExshF9z8I</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}">
<param name="username" required="true" type="string" style="query">
<doc>
Username of the account</doc>
</param>
<method id="accountDeletion" name="DELETE">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Delete a user account, you can only access this if you're logged in as the user.</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/image/{id}">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountImageInformation" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Return information about a specific image. This endpoint works the same as the Image Endpoint. You can use any of the additional actions that the image endpoint with this endpoint.</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/images/{page}">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<param name="page" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountImages" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Return all of the images associated with the account. You can page through the images by setting the page, this defaults to 0.</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/images/count">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountImagesCount" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Returns the total number of images associated with the account.</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/images/ids">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountImagesIds" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Returns an array of Image IDs that are associated with the account.</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/likes">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountLikes" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Return an array of images that have been upvoted by the user.</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/notifications/messages">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountMessages" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Returns all messages sent to the user, formatted as a notification. Required to be logged in to view this information.</doc>
<request>
<param name="new" required="false" type="string" style="query">
<doc>
false for all notifications, true for only non-viewed notification. Default is true.</doc>
</param>
</request>
</method>
</resource>
<resource path="/3/account/{username}/notifications/{type}">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<param name="type" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountNotifications" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Return all of the notifications associated with the account. Defaults to return only new notifications, however you can set the GET variable, new, to false to return all of the notifications. You're required to be logged in as the user to view this information.</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/message">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountSendMessage" name="POST">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Send a message to the user in the URL from the user that's currently logged in. Set the variables subject (the subject of the message) and body (the body of the message) accordingly. A user must be logged in to send a message to another user.</doc>
<request>
<param name="body" required="true" type="string" style="query">
<doc>
The text of the message. Similar to the body of an email.</doc>
</param>
<param name="subject" required="false" type="string" style="query">
<doc>
The subject of the message</doc>
</param>
<param name="parent_id" required="false" type="string" style="query">
<doc>
The ID of the first message in the thread, by setting this, the message will be threaded to the given message.</doc>
</param>
</request>
</method>
</resource>
<resource path="/3/account/{user}/settings">
<param name="user" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountSettings" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Get the account settings if you're logged in as the user</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/stats">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="accountStatistics" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Return the statistics about the account.</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/album/{id}">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="addAlbumImages" name="POST">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Add more images to the album.</doc>
<request>
<param name="ids" required="true" type="string" style="query">
<doc>
IDs of images to be added to the album, can be sent as array with multiple images</doc>
</param>
</request>
</method>
</resource>
<resource path="/3/album/{id}">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="album" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Get album information</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/album/{album_id}/image/{image_id}">
<param name="album_id" required="true" type="string" style="query">
<doc>
The 5 character string for the album id</doc>
</param>
<param name="image_id" required="true" type="string" style="query">
<doc>
The id of 5 characters for the image</doc>
</param>
<method id="albumImage" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Get information about an image in an album, any additional actions found in Image Endpoint will also work.</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/album/{id}/images">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="albumImages" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Return all of the images in the album</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/album">
<method id="albumUpload" name="POST">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>This is how you upload an album</doc>
<request>
<param name="ids" required="false" type="string" style="query">
<doc>
The images you want to include in the album</doc>
</param>
</request>
</method>
</resource>
<resource path="/3/album/{id}">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="albumdelete" name="DELETE">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>This deletes an album, the user must be logged in to do this</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/comment/{id}">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="comment" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Get comment information</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/comments/count">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="commentCount" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Return a count of all of the comments associated with the account.</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/comment/{id}">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="commentDelete" name="DELETE">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Delete a comment, will be marked as deleted if there are any replies</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/comments/ids">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="commentIDs" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Return an array of all of the comment IDs.</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/comment/{id}/replies">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="commentReplies" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>View the comment and the thread of replies</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/comment/{id}/vote/{vote}">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<param name="vote" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="commentVote" name="POST">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Vote for a comment, :vote is up or down</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/image/{id}">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="deleteAccountImage" name="DELETE">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Delete an image that belongs to the logged in user</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/gallery/{sort}/{page}">
<param name="sort" required="true" type="string" style="query">
<doc>
</doc>
</param>
<param name="page" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="gallery" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Returns images in the gallery, sort params are: hot, top, and new. for example /gallery/hot/0 will return the latest hot images, and /gallery/hot/1 will return yesterdays hottest images.</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/gallery/image/{id}/comment">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="galleryCommentCreation" name="POST">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Create a comment, the user must be logged in with OAuth 2 for this to work</doc>
<request>
<param name="comment" required="true" type="string" style="query">
<doc>
The comment you want to create on image</doc>
</param>
</request>
</method>
</resource>
<resource path="/3/gallery/image/{id}/comment/{id}">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="galleryCommentReply" name="POST">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Reply to a comment in the gallery</doc>
<request>
<param name="comment" required="true" type="string" style="query">
<doc>
The reply to a comment</doc>
</param>
</request>
</method>
</resource>
<resource path="/3/gallery/image/{id}">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="galleryImage" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Get additional information about an image in the gallery</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/gallery/image/{id}/comments/count">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="galleryImageCommentCount" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>The number of comments on an image in the gallery</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/gallery/image/{id}/comment/{id}">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="galleryImageCommentDelete" name="DELETE">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Delete a comment from an image</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/gallery/image/{id}/comments/ids">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="galleryImageCommentIds" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>List all of the comment ids in an array for a gallery image</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/gallery/image/{id}/comments">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="galleryImageComments" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>The Comments of a Gallery Image</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/gallery/image/{id}/vote/{vote}">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<param name="vote" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="galleryImageVote" name="POST">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Vote for an image, :vote is up or down</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/gallery/image/{id}/votes">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="galleryImageVotes" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Get the vote information for an image in the gallery</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/gallery/search">
<method id="gallerySearch" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Search the gallery for a given query string</doc>
<request>
<param name="q" required="true" type="string" style="query">
<doc>
The query string</doc>
</param>
</request>
</method>
</resource>
<resource path="/3/image/{id}">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="image" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Get information about an image</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/image/{deletehash}">
<param name="deletehash" required="true" type="string" style="query">
<doc>
Deletehash of an image</doc>
</param>
<method id="imageDelete" name="DELETE">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc></doc>
<request>
</request>
</method>
</resource>
<resource path="/3/image">
<method id="imageUpload" name="POST">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Upload an image</doc>
<request>
<param name="image" required="true" type="string" style="query">
<doc>
The binary data, a url string, or base64 data</doc>
</param>
<param name="album_id" required="false" type="string" style="query">
<doc>
ID of the album to upload to</doc>
</param>
<param name="type" required="false" type="string" style="query">
<doc>
The type of image being uploaded : binary, url, base64</doc>
</param>
<param name="title" required="false" type="string" style="query">
<doc>
A title for the image</doc>
</param>
<param name="description" required="false" type="string" style="query">
<doc>
A description of the image</doc>
</param>
</request>
</method>
</resource>
<resource path="/3/upload">
<method id="imageUploadAlternative" name="POST">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>This is another way to upload images</doc>
<request>
<param name="image" required="true" type="string" style="query">
<doc>
A binary file, base64 data, or a URL for an image</doc>
</param>
<param name="album_id" required="false" type="string" style="query">
<doc>
The id of the album you want to add the image to</doc>
</param>
<param name="type" required="true" type="string" style="query">
<doc>
The type of the file that's being sent; file, base64 or URL</doc>
</param>
<param name="name" required="true" type="string" style="query">
<doc>
The name of the file, this is automatically detected if uploading a file with a POST and multipart / form-data</doc>
</param>
<param name="title" required="true" type="string" style="query">
<doc>
The title of the image.</doc>
</param>
<param name="description" required="true" type="string" style="query">
<doc>
The description of the image.</doc>
</param>
</request>
</method>
</resource>
<resource path="/3/notification/{id}">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="notification" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Returns data about a specific notification</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/notification/{id}">
<param name="id" required="true" type="string" style="query">
<doc>
The ID of the notification</doc>
</param>
<method id="notificationViewed" name="DELETE">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Mark a notification as viewed.  This will stop the notification from showing up in the standard requests. Also works as PUT or DELETE request</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/notification">
<method id="notifications" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Get all the notifications for the user that's currently logged in</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/gallery/{id}">
<param name="id" required="true" type="string" style="query">
<doc>
The ID of the gallery item</doc>
</param>
<method id="removefromGallery" name="DELETE">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>This allows the user to remove their content from the gallery.</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/comment/{id}/report">
<param name="id" required="true" type="string" style="query">
<doc>
ID of the comment</doc>
</param>
<method id="reportComment" name="POST">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Report a comment for being vulgar</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/gallery/r/{subreddit}/{sort}/{page}">
<param name="subreddit" required="true" type="string" style="query">
<doc>
the subreddit</doc>
</param>
<param name="sort" required="true" type="string" style="query">
<doc>
the sort</doc>
</param>
<param name="page" required="true" type="string" style="query">
<doc>
the page number</doc>
</param>
<method id="subredditGalleries" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>View the gallery information for a specific subreddit, sorts are: hot, top, and new.</doc>
<request>
</request>
</method>
</resource>
<resource path="/3/account/{username}/settings">
<param name="username" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="updateAccountSettings" name="POST">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Change the account settings</doc>
<request>
<param name="email" required="false" type="string" style="query">
<doc>
Change the users email</doc>
</param>
<param name="public_images" required="false" type="number" style="query">
<doc>
Use 0 or 1 for the boolean value</doc>
</param>
<param name="album_privacy" required="false" type="number" style="query">
<doc>
Use 0 or 1 for the boolean value</doc>
</param>
<param name="messaging_enabled" required="false" type="string" style="query">
<doc>
Use 0 or 1 for the boolean value</doc>
</param>
</request>
</method>
</resource>
<resource path="/3/gallery/image/{id}">
<param name="id" required="true" type="string" style="query">
<doc>
</doc>
</param>
<method id="uploadImagetoGallery" name="POST">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>This allows a user to upload an image to the gallery, you're required to be logged in for this to work.</doc>
<request>
<param name="title" required="true" type="string" style="query">
<doc>
This is the title that will be set in the gallery.</doc>
</param>
<param name="terms" required="false" type="number" style="query">
<doc>
If set to 1, the terms of the gallery are set.  This also allows you to by-pass our terms.  If you wish to set your own terms to upload the gallery there will be an error returned if they have not accepted the terms.</doc>
</param>
</request>
</method>
</resource>
</resources>
</application>
