webknox/webknox.wadl

<!-- Webshell APIs
 Copyright (C) 2013 Webshell SAS

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program. If not, see <http://www.gnu.org/licenses/>.
 -->
<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
xmlns="http://wadl.dev.java.net/2009/02" xmlns:t="urn:github:githubresponse"
xmlns:webshell="http://webshell.io/wadl/2012/06/"
xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd http://webshell.io/wadl/2012/06/ http://webshell.io/wadl/webshell-extensions.xsd">
<resources base="https://webknox-text-processing.p.mashape.com">
<resource path="/text/language">
<method id="detectLanguage" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Detect the language of a natural language text.</doc>
<request>
<param name="text" required="true" type="string" style="query">
<doc>
The text for which the language should be determined.</doc>
</param>
</request>
</method>
</resource>
<resource path="/text/posTags">
<method id="detectPartofSpeech" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Tag a given text with part-of-speech tags (POS tags).</doc>
<request>
<param name="text" required="true" type="string" style="query">
<doc>
The text for which the POS tags should be found.</doc>
</param>
</request>
</method>
</resource>
<resource path="/text/sentiment">
<method id="detectSentiment" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Detect the sentiment (positive or negative) of a given text. The detection works for English and German texts.</doc>
<request>
<param name="text" required="true" type="string" style="query">
<doc>
The text for which the sentiment should be detected.</doc>
</param>
<param name="language" required="true" type="string" style="query">
<doc>
The language of the given text (en=English, de=German).</doc>
</param>
<param name="contextWords" required="false" type="string" style="query">
<doc>
Optionally consider only sentences that contain a context word for the sentiment detection.</doc>
</param>
</request>
</method>
</resource>
<resource path="/text/dates">
<method id="extractDates" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Extract dates from a given text.</doc>
<request>
<param name="text" required="true" type="string" style="query">
<doc>
The text from which dates should be extracted.</doc>
</param>
</request>
</method>
</resource>
<resource path="/text/entities">
<method id="extractEntities" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Extract entities such as movies or people in a given text.</doc>
<request>
<param name="text" required="true" type="string" style="query">
<doc>
The text in which entities should be detected.</doc>
</param>
</request>
</method>
</resource>
<resource path="/text/locations">
<method id="extractLocations" name="GET">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Extract names of locations in the given text.</doc>
<request>
<param name="text" required="true" type="string" style="query">
<doc>
The text from which locations should be extracted.</doc>
</param>
</request>
</method>
</resource>
<resource path="/text/quality">
<method id="ratetheQuality" name="POST">
<apigee:tags>
<apigee:tag primary="true">All</apigee:tag>
</apigee:tags>
<webshell:authentication required="true"/>
<doc>Determine the quality of an article.</doc>
<request>
<param name="title" required="true" type="string" style="query">
<doc>
The title of the article.</doc>
</param>
<param name="text" required="true" type="string" style="query">
<doc>
The text of the article (including HTML tags).</doc>
</param>
</request>
</method>
</resource>
</resources>
</application>
